body{
    background-color: #d6ccc2;
}
.container-fluid{
    background-color: #8ecae6
}
.navbar-brand{
    text-decoration: underline;
    font-family: Papyrus;
}
.navbar{
    text-decoration: solid;
    color: black;
}